@import "../node_modules/normalize.css/normalize.css";
@import "./color.css";

html, body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Microsoft Yahei, STHeiti, Helvetica Neue, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

#react-mount,
#react-mount > div {
  height: 100%;
}

.container {
  max-width: 1140px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  min-height: 100%;
}

.app-header {
  width: 100%;
  height: 90px;
  background-color: var(--base);
}

.app-header h1 {
  float: left;
  margin: 32px 0 32px 0;
  font-size: 24px;
  font-weight: 600;
}

.app-header nav {
  float: right;
  margin: 36px 0 28px 0;
  font-size: 18px;
}

.app-header a {
  color: white;
  text-decoration: none;
  transition: opacity 0.15s linear;
}

.app-header a:hover {
  opacity: 0.7;
}

.app-header nav a {
  margin-left: 48px;
  padding-bottom: 4px;
}

.app-header nav a.active,
.app-header nav a:hover {
  border-bottom: 2px solid white;
}

.app-footer {
  width: 100%;
  height: 140px;
  background-color: var(--base);
  display: flex;
  align-items: center;
}

.app-footer p {
  width: 100%;
  color: var(--grey);
  opacity: 0.5;
  font-size: 12px;
  text-align: center;
}

.app-footer a {
  color: white;
  text-decoration: none;
}

.app-footer a:hover {
  opacity: 0.7;
}

.home {
  margin-top: -90px;
}

.home-hero-section {
  width: 100%;
  height: 600px;
  background: url("/images/index-hero-section.png") center center;
}

.home-hero-section-content {
  position: absolute;
  top: 340px;
  margin: 0 auto;
  width: 100%;
  color: white;
  text-align: center;
  opacity: 0.8;
}

.home-hero-section-slogan {
  font-size: 32px;
  font-weight: 400;
  margin-top: 0;
}

.home-hero-section-text {
  font-size: 16px;
}

.home-hero-section-text a {
  color: white;
  opacity: 0.5;
  text-decoration: none;
  line-height: 28px;
  padding: 0 12px;
}

.home-hero-section-text a:hover {
  opacity: 0.36;
}

.home-content {
  height: 600px;
}

.home-content h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.home-content h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.home-meetups {
  background-color: var(--base-shadow);
}

.home-meetups h3, h4, p, li {
  color: white;
}

.home-meetups h3 {
  padding-top: 192px;
  opacity: 0.7;
  font-size: 40px;
  font-weight: 200;
}

.home-meetups h4 {
  opacity: 0.1;
  font-size: 24px;
  font-weight: 200;
  font-variant: small-caps;
}

.home-meetups-container {
  display: flex;
  justify-content: space-between;
}

.home-content-description p {
  margin-top: 64px;
  font-size: 20px;
  opacity: 0.84;
}

.home-meetups-gallery {
  padding-top: 128px;
}

.home-meetups-gallery ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.home-meetups-gallery li {
  position: relative;
  width: 204px;
  height: 336px;
  margin-right: 16px;
  border-radius: 8px;
  border: 1px solid #25353d;
}

.home-meetups-gallery li:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.12;
  border-radius: 8px;
  z-index: 40;
  transition: opacity 0.2s linear;
}

.home-meetups-gallery li:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent, #1a2b34);
  opacity: 1;
  border-radius: 8px;
  z-index: 20;
}

.home-meetups-gallery li:hover {
  cursor: pointer;
}

.home-meetups-gallery li:hover p {
  opacity: 1;
}

.home-meetups-gallery li:hover time {
  opacity: 0.8;
}

.home-meetups-gallery li:hover:after {
  opacity: 0.7;
}

.home-meetups-gallery li:hover:before {
  opacity: 0.2;
}

.home-meetups-gallery li:last-child {
  margin-right: 0;
}

.home-meetups-gallery .home-meetup-shanghai:before {
  background-image: url(/images/shanghai.png);
}

.home-meetups-gallery .home-meetup-shenzhen:before {
  background-image: url(/images/shenzhen.png);
}

.home-meetups-gallery .home-meetup-beijing:before {
  background-image: url(/images/beijing.png);
}

.home-meetups-gallery .home-meetup-hangzhou:before {
  background-image: url(/images/hangzhou.png);
}


.home-meetups-gallery li p {
  position: absolute;
  top: 256px;
  font-size: 24px;
  font-weight: 600;
  opacity: 0.7;
  padding-left: 16px;
  z-index: 60;
  margin: 0;
}

.home-meetups-gallery li time {
  position: absolute;
  top: 288px;
  z-index: 60;
  font-size: 12px;
  padding-left: 16px;
  opacity: 0.5;
}