html, body {
  height: 100%;
}

body {
  font-family: -apple-system, "Ping Fang SC", "Microsoft Yahei", STHeiti, "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

#react-mount,
#react-mount > div {
  height: 100%;
}

.container {
  max-width: 1140px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  min-height: 100%;
}

.container.markdown {
  max-width: 744px;
}

.app-header {
  width: 100%;
  height: 90px;
  background-color: var(--base);
}

.app-header h1 {
  float: left;
  margin: 32px 0 32px 0;
  font-size: 24px;
  font-weight: 600;
}

.app-header nav {
  float: right;
  margin: 36px 0 28px 0;
  font-size: 18px;
}

.app-header a {
  color: white;
  text-decoration: none;
  transition: opacity 0.15s linear;
}

.app-header a:hover {
  opacity: 0.7;
}

.app-header nav a {
  margin-left: 48px;
  padding-bottom: 4px;
}

.app-header nav a.active,
.app-header nav a:hover {
  border-bottom: 2px solid white;
}

.app-footer {
  width: 100%;
  height: 140px;
  background-color: var(--base);
  display: flex;
  align-items: center;
}

.app-footer p {
  width: 100%;
  color: var(--grey);
  opacity: 0.5;
  font-size: 12px;
  text-align: center;
}

.app-footer a {
  color: white;
  text-decoration: none;
}

.app-footer a:hover {
  opacity: 0.7;
}

