.icon {
  position: relative;
  display: inline-block;
}

.icon-star {
  width: 16px;
  height: 16px;
}

.icon-star svg {
  width: 14px;
  height: 16px;
}

.icon-fork {
  width: 10px;
  height: 16px;
}

.icon-fork svg {
  width: 10px;
  height: 16px;
}
