@import "./color.css";

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown p,
.markdown li {
  color: var(--base);
  font-weight: 400;
}

.markdown h1 {
  margin-top: 48px;
  margin-bottom: 64px;
  text-align: center;
  font-size: 36px;
}

.markdown h2 {
  margin-top: 24px;
  margin-bottom: 32px;
  font-size: 28px;
  opacity: 0.9;
}

.markdown h3 {
  margin-top: 20px;
  margin-bottom: 24px;
  font-size: 22px;
  opacity: 0.8;
}

.markdown h4 {
  margin-top: 16px;
  margin-bottom: 20px;
  font-size: 18px;
  opacity: 0.7;
}

.markdown ul {
  margin-top: 16px;
  margin-bottom: 32px;
  padding-left: 32px;
}

.markdown p,
.markdown li {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}

.markdown em {
  font-weight: 600;
  opacity: 1;
  font-style: normal;
}

.warning {
  color: #9F6000;
  background-color: #FEEFB3;
  padding: 18px;
}
.warning:before {
  content:'\26A0';
  margin-right: 9px;
}

.rfc-page pre {
  font-family: inherit;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
